.wrapper {
    margin: 50px 0 0 500px;
}

.doraemon {
    position: relative;
}

.doraemon .head {
    position: relative;
    width: 320px;
    height: 300px;
    border-radius: 150px;
    background: #07bbee;
    background: -webkit-radial-gradient(right top, #fff 10%, #07bbee 20%, #10a6ce 75%, #000);
    background: -moz-radial-gradient(right top, #fff 10%, #07bbee 20%, #10a6ce 75%, #000);
    background: -ms-radial-gradient(right top, #fff 10%, #07bbee 20%, #10a6ce 75%, #000);
    border: 2px solid #555;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.45);
}

.doraemon .face {
    position: absolute;
    top: 58px;
    left: 20px;
    width: 280px;
    height: 220px;
    background: #fff;
    border-radius: 108px;
    z-index: 2;
}

.doraemon .face .nose {
    position: absolute;
    top: 39px;
    left: 126px;
    width: 20px;
    height: 20px;
    background: rgb(211, 23, 119);
    border-radius: 50%;
    border: 2px solid #000;
    z-index: 3;
}

.doraemon .face .nose_line {
    position: absolute;
    top: 62px;
    left: 135px;
    width: 4px;
    height: 128px;
    background: #000;
    z-index: 3;
}

.doraemon .face .mouth {
    width: 220px;
    height: 220px;
    border-bottom: 3px solid #333;
    border-radius: 110px;
    position: absolute;
    top: -33px;
    left: 24px;
}

.doraemon .face .whiskers {
    position: relative;
    height: 108px;
    background-color: #fff;
    width: 229px;
    left: 25px;
    top: 39px;
}

.doraemon .face .whiskers .whisker {
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #333;
}

.doraemon .face .whiskers .rTop {
    top: 86px;
    left: -15px;
}

.doraemon .face .whiskers .rMiddle {
    top: 64px;
    left: -15px;
}

.doraemon .face .whiskers .rBottom {
    top: 43px;
    left: -15px;
}

.doraemon .face .whiskers .lTop {
    top: 85px;
    left: 163px;
}

.doraemon .face .whiskers .lMiddle {
    top: 64px;
    left: 163px;
}

.doraemon .face .whiskers .lBottom {
    top: 42px;
    left: 163px;
}

/*胡子旋转角度*/
.doraemon .whiskers .r160 {
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    transform: rotate(160deg);
}

.doraemon .whiskers .r20 {
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    transform: rotate(200deg);
}

.doraemon .eyes {
    position: relative;
    z-index: 3;
    /*眼睛在白色脸底下面*/
}

/*眼睛共同的样式*/
.doraemon .eyes .eye {
    width: 72px;
    height: 82px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 35px 35px;
    position: absolute;
    top: 27px;
}

.doraemon .eyes .black {
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 37px;
}

.doraemon .eyes .bleft {
    left: 53px
}

.doraemon .eyes .bright {
    left: 5px
}

.doraemon .eyes .left {
    left: 82px
}

.doraemon .eyes .right {
    left: 157px
}

.doraemon .choker {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background-color: #c40;
    background: -webkit-gradient(linear, left top, left bottom, from(#c40), to(#800400));
    background: -moz-linear-gradient(center top, #c40, #800400);
    background: -ms-linear-gradient(center top, #c40, #800400);
    position: relative;
    left: 64px;
    bottom: 30px;
    border: 2px solid #000;
    z-index: 4;
}

.doraemon .choker .bell {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    background-color: gold;
    border-radius: 22px;
    position: relative;
    top: 10px;
    left: 75px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f12a), color-stop(0.5, #e9e11a), to(#a9a100));
    background: -moz-linear-gradient(top, #f9f12a, #e9e11a 75%, #a9a100);
    background: -ms-linear-gradient(top, #f9f12a, #e9e11a 75%, #a9a100);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);

}

.doraemon .bodys {
    z-index: 1;
    width: 190px;
    height: 200px;
    background-color: #07beea;
    background: -webkit-gradient(linear, right top, left top, from(#07beea), color-stop(0.5, #0073b3), color-stop(0.75, #00b0e0), to(#0096be));
    background: -moz-linear-gradient(right center, #07beea, #0073b3 50%, #00b0e0 75%, #0096be 100%);
    background: -ms-linear-gradient(right center, #07beea, #0073b3 50%, #00b0e0 75%, #0096be 100%);
    border: 2px solid #000;
    position: relative;
    bottom: 40px;
    left: 69px;
}

.doraemon .body {
    z-index: 3;
    width: 160px;
    height: 160px;
    border-radius: 82px;
    background-color: white;
    border: 2px solid #000;
    position: relative;
    bottom: 40px;
    left: 12px;
}

.doraemon .wraps {
    z-index: 3;
    width: 110px;
    height: 55px;
    border: 2px solid #000;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    position: relative;
    bottom: 120px;
    left: 38px;
}

.doraemon .hand_right,
.doraemon .hand_left {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 294px;
    left: 241px;
}

.doraemon .hand_left {
    left: 9px;
}

.doraemon .arm {
    width: 80px;
    height: 50px;
    background: #07beea;
    background: -webkit-gradient(linear, left top, left bottom, from(#07beea), color-stop(0.85, #07beea), to(#555));
    background: -moz-linear-gradient(center top, #07BEEA, #07BEEA 85%, #555);
    background: -ms-linear-gradient(center top, #07BEEA, #07BEEA 85%, #555);
    border: 1px solid #000000;
    box-shadow: -10px 7px 10px rgba(0, 0, 0, 0.35);
    z-index: -1;
    position: relative;
}

/*右手手臂*/
.doraemon .hand_right .arm {
    top: 17px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

/*左手手臂*/
.doraemon .hand_left .arm {
    top: 17px;
    background: #0096be;
    /*背光一面使用纯色，使其有立体感*/
    box-shadow: 5px -7px 10px rgba(0, 0, 0, 0.25);
    -webkit-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    transform: rotate(145deg);
}

/*手臂和身体结合处，使用背景遮住边框*/
.doraemon .arm_rewrite {
    z-index: 4;
    height: 45px;
    width: 5px;
    background: #07beea;
    position: relative;
}

/*右手结合处*/
.doraemon .hand_right .arm_rewrite {
    top: -48px;
    left: 19px;
}

/*左手结合处*/
.doraemon .hand_left .arm_rewrite {
    top: -48px;
    left: 59px;
    background: #0096be;
    /*同理，背光一面使用纯色，使其有立体感*/
}

/*圆形手掌公共部分*/
.doraemon .circle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #000;
    background: #fff;
    background: -webkit-gradient(linear, right top, left bottom, from(#fff), color-stop(0.5, #fff), color-stop(0.70, #eee), color-stop(0.8, #ddd), to(#999));
    background: -moz-linear-gradient(right top, #fff, #fff 50%, #eee 70%, #ddd 80%, #999);
    background: -ms-linear-gradient(right top, #fff, #fff 50%, #eee 70%, #ddd 80%, #999);
    position: absolute;
}

/*右手手掌*/
.doraemon .hand_right .circle {
    left: 40px;
    top: 32px;
}

/*左手手掌*/
.doraemon .hand_left .circle {
    left: -20px;
    top: 32px;
}

/*脚部*/
.doraemon .foot {
    width: 280px;
    height: 40px;
    position: relative;
    top: 55px;
    left: 20px;
}

/*左右脚共同样式*/
.doraemon .foot .left,
.doraemon .foot .right {
    z-index: 2;
    width: 125px;
    height: 30px;
    background: #fff;
    background: -webkit-gradient(linear, right top, left bottom, from(#fff), color-stop(0.75, #fff), color-stop(0.85, #eee), to(#999));
    background: -moz-linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
    background: -ms-linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
    border: 2px solid #333;
    border-radius: 80px 60px 60px 40px;
    box-shadow: -6px 0 10px rgba(0, 0, 0, 0.35);
    position: relative;
}

.doraemon .foot .left {
    left: 8px;
    top: -104px;
}

.doraemon .foot .right {
    top: -138px;
    left: 149px;
}

/*双脚之间的缝隙，加阴影使用立体感*/
.doraemon .foot .foot_rewrite {
    z-index: 2;
    width: 20px;
    height: 10px;
    background: #fff;
    background: -webkit-gradient(linear, right top, left bottom, from(#666), color-stop(0.83, #fff), to(#fff));
    background: -moz-linear-gradient(right top, #666, #fff 83%, #fff);
    background: -ms-linear-gradient(right top, #666, #fff 83%, #fff);
    /*制作半圆效果*/
    border: 2px solid #000;
    border-bottom: none;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -175px;
    left: 133px;
    _left: 127px;
}